/* Крок 28

Оскільки головним товаром для продажу є кава, для фону сторінки можна використати зображення кавових бобів.

Видаліть коментар та його вміст всередині селектору типу body. Тепер додайте властивість background-image та встановіть значення 
url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg).
*/
body {
  background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
}

h1,
h2,
p {
  text-align: center;
}

.menu {
  width: 80%;
  background-color: burlywood;
  margin-left: auto;
  margin-right: auto;
}
