body {
  background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
}

h1,
h2,
p {
  text-align: center;
}

.menu {
  width: 80%;
  background-color: burlywood;
  margin-left: auto;
  margin-right: auto;
}
/* Крок 37

Елементи p вкладені в елементі article з атрибутом класу item. Ви можете стилізувати всі елементи p, 
вкладені в будь-якому елементі класу з назвою item ось так:

.item p { }

Використовуючи вищевказаний селектор, додайте властивість display зі значенням inline-block, 
щоб елементи p поводились як вбудовані елементи.
*/
.item p {
  display: inline-block;
}

.flavor {
  text-align: left;
}

.price {
  text-align: right;
}
